* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Mulish;
}

body {
  display: grid;
  justify-content: center;

  background: #121214;

  padding: 72px 104px;
}

body::-webkit-scrollbar-track {
  background-color: #7e7676;
  border-radius: 3px;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #323238;
}

body::-webkit-scrollbar-thumb {
  background: #323238;
  border-radius: 3px;
}

header h1 {
  font-weight: 900;
  font-size: 58px;
  line-height: 72px;

  color: #02799D;
}

header p {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  color: #E1E1E6;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 370px);

  margin-top: 62px;

  row-gap: 48px;
  column-gap: 60px;
}

.card {
  background: #202024;

  border-radius: 8px;
  border: 2px solid #323238;

  overflow: hidden;
}

.card p {
  color: #C4C4CC;
  font-size: 18px;
  font-weight: 600;

  padding: 24px 32px 32px;
}

.card h2 {
  color: #E1E1E6;
  font-weight: 900;
  font-size: 36px;

  padding: 24px 32px 0;
}